/* Share Modal Backdrop with fade animation */

.modal-backdrop-custom {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;

}

/* Modal Style */
.modal-custom {
    background: #fff;
    border-radius: 10px;
    max-width: 600px;
    width: 90%;
    z-index: 1060;

}

/* Animate Modal */

animate-modal {
    animation: fadeIn 0.3s ease-in-out;
}

/* Dark MOdal */

.dark-mode .modal-custom {
    background: #222;
    color: #fff;
}


/* Keyframes for fade */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);

    }

    to {
        opacity: 1;
        transform: scale(1);

    }
}